/* css for name header */
.display-1 {
    color: blue;
    font-family: 'Lato', sans-serif;
  /* font-family: 'Open Sans', sans-serif; */
}

.home-text {
  color: rgb(235, 6, 6);
  font-size: 40px;
}

body {
  background-color: rgb(76, 221, 214);
}